<button type="button" class="btn btn-light saveButton">Save</button>

<script src="//cdn.jsdelivr.net/npm/phaser@3.53.1/dist/phaser.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/phaser.js"></script>
