<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<button type="button" class="btn btn-light saveButton">Save</button>
<button type="button" class="btn btn-light characterButton">Character Select</button>


<script src="//cdn.jsdelivr.net/npm/phaser@3.53.1/dist/phaser.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="js/members.js"></script>
<script src="js/phaser.js"></script>

