<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<!-- Welcom "User" -->
<div class="container-members">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"></span></h2>
        </div>
    </div>
    <!-- Character Selection -->
    <div class="row">
        <div class="col-sm-3">
            <div class="card warrior-card character" data-id="0">
                <div class="card-body">
                   <ul>
                    <h5 class="card-title warrior">Warrior</h5>
                    <p class="card-text warrior-lvl">Level: </p>
                    <p class="card-text warrior-xp">xp: </p>
                    <p class="card-text warrior-hp">hp: </p>
                    <p class="card-text warrior-attack">attack: </p>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card huntress-card character" data-id="1">
                <div class="card-body">
                    <h5 class="card-title huntress">Huntress</h5>
                    <p class="card-text huntress-lvl">Level: </p>
                    <p class="card-text huntress-xp">xp: </p>
                    <p class="card-text huntress-hp">hp: </p>
                    <p class="card-text huntress-attack">attack: </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card archer-card character" data-id="2">
                <div class="card-body">
                    <h5 class="card-title archer">Archer</h5>
                    <p class="card-text archer-lvl">Level: </p>
                    <p class="card-text archer-xp">xp: </p>
                    <p class="card-text archer-hp">hp: </p>
                    <p class="card-text archer-attack">attack: </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card mage-card character " data-id="3">
                <div class="card-body">
                    <h5 class="card-title mage">Mage</h5>
                    <p class="card-text mage-lvl">Level: </p>
                    <p class="card-text mage-xp">xp: </p>
                    <p class="card-text mage-hp">hp: </p>
                    <p class="card-text mage-attack">attack: </p>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
           <audio controls autoplay>
  <source src="assets/intro music.mp3">
  

        </audio>
        <h3>Feel Free to download the music!</h3>
        </div>
    </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>