h3 {
    font-style: italic;
    color: gold;
    font-size: 350%;
    font-style: italic;
    font-family: fantasy;
  }

.container-members {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/007/382/336/large/nastya-friday-game-background-4.jpg?1505758875);
    border-radius: 45px;
    width: 99%;
    padding-top: 30px;
    padding-bottom: 200px;
    
    }

.warrior {
    color: gold;
    font-size: 250%;
    font-style: italic;
    font-family: fantasy;
  }
  
  .huntress {
    color: gold;
    font-size: 250%;
    font-style: italic;
    font-family: fantasy;
  }
  .archer {
    color: gold;
    font-size: 250%;
    font-style: italic;
    font-family: fantasy;
  }
  .mage {
    color: gold;
    font-size: 250%;
    font-style: italic;
    font-family: fantasy;
  }